{% extends "index.html" %}
{% load static %}

{% block main_content %}

<div class="container-flex text-center justify-content-center align-items-center" style="padding-top: 10px; padding-bottom: 20px; margin-left: 10px; vertical-align: middle;">
    <div class="row justify-content-center align-middle" style="margin-top: 10px; height: 60px;">
        <div class="col-md-4 text-light" style="background-color: #4B088A;">
            <h4 style="margin-top: 15px;">add new book</h4>
        </div>
        <div class="col-md-8">
            <h4>Search Readers</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="container" style="overflow-y: auto; height: 600px; background: #CEECF5;">
            <form class="d-flex" action="/readers/add" method="POST">
                {% csrf_token %}
                <table class="table" style="margin-top: 20px;">
                    <tr>
                        <td style="text-align: left; vertical-align: middle; padding-left: 15px;">Name : </td>
                        <td><input type="text" class="form-control" name="Book Name"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; vertical-align: middle; padding-left: 15px;">Contact : </td>
                        <td><input type="text" class="form-control" name="ISBN"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; vertical-align: middle; padding-left: 15px;">Reference Id : </td>
                        <td><input type="text" class="form-control" name="Author"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; vertical-align: middle; padding-left: 15px;">Address : </td>
                        <td><textarea type="text" class="form-control" name="Category"></textarea></td>
                    </tr>

                    <tr>
                        <td colspan="2"><button class="btn btn-primary" type="submit">Save</button></td>
                    </tr>

                </table>
            </form>

        </div>
    </div>

    <div class="col-md-8">
        <div class="row">
            <nav class="navbar bg-body-light">
                <div class="container-fluid justify-content-center align-items-center">
                    <form class="d-flex" role="search" action="/search_reader" method="get">
                        <input class="form-control me-2" type="text" placeholder="Search Reader Name" name="query">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>

        <div>
            {% if reader_results %}
            <div class="search-results">
                <h5>Search Results for "{{ query }}"</h5>
                <p>{{reader_results|length}} readers subscribed.</p>

            </div>
            {% else  %}
              <h5>No results found for "{{ query }}"</h5>
              <p>{{readers|length}} readers subscribed.</p>
            {% endif %}
            </div>

        <div class="row" style="margin-top: 20px;">
            <div class="container" style="overflow-y: auto; height: 400px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Reader Id</td>
                            <td>Name</td>
                            <td>Contact</td>
                            <td>Reference Id</td>
                            <td>Address</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reader in readers %}
                            <tr>
                                <td>{{reader.reference_id}}</td>
                                <td>
                                    {% if reader.active %}
                                        <span class="btn btn-success">{{reader.reader_name}}</span>
                                    {% else %}
                                        <span class="btn btn-secondary">{{reader.reader_name}}</span>
                                    {% endif %}
                                </td>
                                <td>{{reader.reader_contact}}</td>
                                <td>{{reader.reference_id}}</td>
                                <td>{{reader.reader_address}}</td>
                            </tr>
                        {% endfor %}

                        {% for reader in reader_results %}
                        <tr>
                            <td>{{reader.id}}</td>
                            <td>
                                {% if reader.active %}
                                    <span class="btn btn-success">{{reader.reader_name}}</span>
                                {% else %}
                                    <span class="btn btn-secondary">{{reader.reader_name}}</span>
                                {% endif %}
                            </td>
                            <td>{{reader.reader_contact}}</td>
                            <td>{{reader.reference_id}}</td>
                            <td>{{reader.reader_address}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}