<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}



<div class="container-flex text-center justify-content-center align-items-center" style="padding-top: 10px; padding-bottom: 20px; margin-left: 10px; vertical-align: middle;">
    <div class="row justify-content-center align-items-center" style="margin-top: 10px; height: 50px;">
        <div class="col-md-4 text-light d-flex align-items-center justify-content-center" style="background-color: #4B088A; height: 35py px;">
            <h5>Search for Books</h5>
            <h5>Search for Books</h5>
        </div>        
       
    </div>
</div

<div class="search-toolbar text-center">
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Search for books...">
        <button type="submit">Search</button>
    </form>
</div>

<div class="buttons d-flex justify-content-center" style="margin-top: 15px;">
    <button class="btn btn-primary" style="margin-right: 15px;" onclick="handleButton1()">Upload</button>
    <button class="btn btn-secondary" onclick="handleButton2()">Add a Book
    
    </button>
</div>
</div>




{% endblock %}