{% extends "index.html" %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main_content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{user.username}}</span></h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
            <li><class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary">Orders</a></li>
        </ul>
    </div>

    <div class="col-sm-9 offset-sm-1">
        {% for op in order_placed %}
        <div class="row">
            <div class="col-sm-2">
                <img src="{{op.book.image.url}}" alt="" class="img-fluid" height="100" width="100">
            </div>
            <div class="col-sm-7">
                <p>Book : {{op.book.book_name}}</p>
                <p>Order Date : {{op.order_date}}</p>
                <p>Return Date : {{op.return_date}}</p>
            </div>
            <div class="col-sm-3">
                <p>Order Status : {{op.return_status}}</p>
                {% if op.return_status == 'Not Returned' %}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {% endif %}
                {% if op.return_status == 'Returned' %}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main_content %}