{% extends "index.html" %}
{% load static %}
{% block title %}Password Change {% endblock title %}
{% block main_content %}

<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username|capfirst}}</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="#" class="btn btn-primary">Change Password apple </a></li>
                </ul>
            </div>
        <div class="col-sm-9 offset-sm-1">
            NPNK-DMVR
        </div>
    </div>
</div>
{% endblock main_content %}