{% extends "index.html" %}
{% load static %}

{% block main_content %}

<div class="container-flex text-center justify-content-center align-items-center" style="padding-top: 10px; padding-bottom: 20px; margin-left: 10px; vertical-align: middle;">
    <div class="row justify-content-center align-middle" style="margin-top: 10px; height: 60px;">
        <div class="col-md-4 text-light" style="background-color: #4B088A;">
            <h4 style="margin-top: 15px;">Register New Reader</h4>
        </div>
        <div class="col-md-8 text-light" style="background-color: #4B088A;">
            <h4 style="margin-top: 15px;">Search Readers</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="container" style="overflow-y: auto; height: auto; background: #CEECF5;">
            <form class="d-flex" action="/readers/add" method="POST">
                {% csrf_token %}
                <table class="table" style="margin-top: 20px;">
                    <tr>
                        <td style="text-align: left; vertical-align: middle; padding-left: 15px;">Username : </td>
                        <td><input type="text" class="form-control" name="reader_username"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; vertical-align: middle; padding-left: 15px;">First Name : </td>
                        <td><input type="text" class="form-control" name="reader_firstname"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; vertical-align: middle; padding-left: 15px;">Last Name : </td>
                        <td><input type="text" class="form-control" name="reader_lastname"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; vertical-align: middle; padding-left: 15px;">Email : </td>
                        <td><input type="text" class="form-control" name="reader_email"></textarea></td>
                    </tr>

                    <tr>
                        <td colspan="2"><button class="btn btn-primary" type="submit">Save</button></td>
                    </tr>

                </table>
            </form>

            <ul style="text-align: left; vertical-align: middle; padding-left: 15px;">
                <li><small>Readers should not submit multiple times</small></li>
                <li><small>Duplicate reader registrations will be deactivated</small></li>
                <li><small>Contact information provided above must be correct and subject to verification</small></li>
                <li><small>Provide default password to student (newuser1234)</small></li>


            </ul>
        </div>
    </div>

    <div class="col-md-8">
        <div class="row">
            <nav class="navbar bg-body-light">
                <div class="container-fluid justify-content-center align-items-center">
                    <form class="d-flex" role="search" action="{% url 'search_reader' %}" method="get">
                        <input class="form-control me-2" type="text" placeholder="Search by Username" name="query">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>

        <div>
            {% if reader_results %}
            <div class="search-results">
                <h5>Search Results for "{{ query }}"</h5>
                <p>{{reader_results|length}} readers subscribed.</p>

            </div>
            {% else  %}
              <h5>No results found for "{{ query }}"</h5>
              <p>{{readers|length}} readers subscribed.</p>
            {% endif %}
            </div>

        <div class="row" style="margin-top: 20px;">
            <div class="container" style="overflow-y: auto; height: 800px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Reader Id</td>
                            <td>Username</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Email</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reader in readers %}
                            <tr>
                                <td>{{reader.id}}</td>
                                <td>
                                    {% comment %} {% if reader.active %}
                                        <span class="btn btn-success">{{reader.username}}</span>
                                    {% else %}
                                        <span class="btn btn-secondary">{{reader.username}}</span>
                                    {% endif %} {% endcomment %}
                                    <span class="btn btn-success">{{reader.username}}</span>
                                </td>
                                <td>{{reader.first_name}}</td>
                                <td>{{reader.last_name}}</td>
                                <td>{{reader.email}}</td>
                            </tr>
                        {% endfor %}

                        {% for reader in reader_results %}
                        <tr>
                            <td>{{reader.id}}</td>
                            <td>
                                {% comment %} {% if reader.active %}
                                    <span class="btn btn-success">{{reader.username}}</span>
                                {% else %}
                                    <span class="btn btn-secondary">{{reader.username}}</span>
                                {% endif %} {% endcomment %}
                                <span class="btn btn-success">{{reader.username}}</span>
                            </td>
                            <td>{{reader.first_name}}</td>
                            <td>{{reader.last_name}}</td>
                            <td>{{reader.email}}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}